<!DOCTYPE html>
<html>
  <head>
    <title>ANA</title>
    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.21.1/cytoscape.min.js"></script>
    <script type="text/javascript" src="/main.js"></script>
    <style type="text/css" media="all">
      * {
        padding: 0;
        margin: 0;
      }
      #cy {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div id="cy"></div>
  </body>
</html>
